@import "colors";
@import "buttons";

$preto: #999;

.teste{ 
    background: $preto;
    height: 200px;
    width: 200px;
    a {
        color: pink
    }
    &:hover {
        background: green;
    }
}

ul {
    text-align: center;
    li {
        display: inline-block;
        list-style: none;
        a {
            display: block;
            padding: 20px;
        }
    }
}