@import "colors";
@import "buttons";

$preto: #999;

@mixin title-large {
    font-size: 2em;
    font-weight: bold;
    font-family: monospace;
    line-height: 1;
}

@mixin border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin quadrado-background($color, $valor: 200px) {
    background: $color;
    height: $valor;
    width: $valor;
}

.teste{ 
    @include quadrado-background(#231, 300px);
    @include title-large;
    a {
        color: pink
    }
    &:hover {
        background: red;
    }
}

ul {
    text-align: center;
    li {
        display: inline-block;
        list-style: none;
        a {
            display: block;
            padding: 20px;
        }
    }
}