@import "colors";
@import "buttons";

$preto: #999;

@mixin title-large {
    font-size: 2em;
    font-weight: bold;
    font-family: monospace;
    line-height: 1;
}

@mixin border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin quadrado-background($color, $valor: 200px) {
    background: $color;
    height: $valor;
    width: $valor;
}

@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin type-1($size) {
    font-family: monospace;
    @if $size == normal {
        font-size: 1em;
        font-weight: normal;
    }@else if $size == large {
        font-size: 1.25em;
        font-weight: normal;
    }@else if $size == x-large {
        font-size: 1.5em;
        font-weight: bold;
    }
}

.parag {
    @include type-1(x-large);
}

.teste{ 
    @include quadrado-background(#231, 300px);
    @include mobile {
        @include quadrado-background(#976, 300px);
    }
    @include title-large;
    a {
        color: pink;
    }
    &:hover {
        background: red;
    }
}

ul {
    text-align: center;
    li {
        display: inline-block;
        list-style: none;
        a {
            display: block;
            padding: 20px;
        }
    }
}

.operadores {
    width: 100px - 20 * 2;
    height: 200px / 100
}

